/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/**Variables*/
:root{
    --gray: #C7C7C7;
    --white: #FFFFFF;
    --light-green: #ACD9B2;
    --dark: #232830;
    --light-gray: #F7F7F7;
    --black: #000000;
    --sm: 14px;
    --md: 18px;
    --lg: 21px;
    --xl: 24px;
    --xxxl: 26px;
    --radius: 8px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Fonts */
body{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--sm);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/**First we desing navbar for mobile devices*/
.navbar__ul-hidde{
    display: none;
}
.navbar__div-inconMenuHidde{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 0 2px 4px var(--light-gray);
}
.logo{
    height: 30px;
    width: auto;
}
.iconMenu{
    height: 24px;
    width: auto;
}
.navbar__link{
    display: inline-block;
    padding: 10px;
    color: var(--gray)
}
.navbar__logosContainer{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/**Now we fit navbar to larger screens devices*/

@media screen and (min-width: 700px) {
    body{
        font-size: var(--md);
    }
    .navbar__div-navigator{
        width: 400px;
        padding: 0;
    }
    .navbar__ul{
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__div-inconMenuHidde{
        display: none;
    }
    .navbar__li{
        border: 3px solid var(--white);
        border-radius: 13px;
    }
    .navbar__li:hover{
        border: 3px solid var(--light-green);
    }
}
/* @media screen and (min-width: 1200px){
    body {
        font-size: var(--md);
    }
    .navbar__div-inconMenuHidde{
        display: none;
    }
    .navbar__ul-hidde{
        width: 530px;
        display: flex;
        justify-content: space-between;
    }
    .navbar__div-navigator{
        width: 680px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .navbar{
        padding: 0 40px;
    }
    .navbar__link-hover{
        border: 2px solid var(--white);
        border-radius: 16px;
    }
    .navbar__link-hover:hover{
        border: 2px solid var(--light-green);
        color: var(--light-green);
    }
    .logo{
        height: 24px;
    }
    .cartIcon{
        height: 24px;
    }
    .navbar__account{
        color: var(--dark);
    }
    .navbar__li-hidde{
        display: inline;
    }
    .navbar__ul-right{
        display: flex;
        align-items: center;
    }
} */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/