/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/**Variables*/
:root{
    --gray: #C7C7C7;
    --white: #FFFFFF;
    --light-green: #ACD9B2;
    --dark: #232830;
    --light-gray: #F7F7F7;
    --black: #000000;
    --sm: 14px;
    --md: 18px;
    --lg: 21px;
    --xl: 24px;
    --xxxl: 26px;
    --radius: 8px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Fonts */
body{
    font-family: 'Quicksand', sans-serif;
}
*{
    font-size: var(--md);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Distribucion de la pagina */

.main{
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'asideBar   contenido   contenido   contenido'
    'asideBar   contenido   contenido   contenido'
    'asideBar   contenido   contenido   contenido';
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para el asibar */
.asideBar{
    grid-area: 'asideBar';
    width: 300px;
    padding: 12px;
    box-shadow: 3px 3px 6px var(--light-gray);
}
.asideBar__foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.asideBar__fotoContainer{
    width: 250px;
    height: 250px;
}
.asideBar__content{
    padding: 10px;
}

.foto{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.icon{
    height: 34px;
    width: auto;
}
.foto__titulo{
    font-size: var(--md);
    color: var(--light-green);
}
.foto__descripcion{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.boton__container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.boton{
    width: 140px;
    height: 52px;
    max-width: auto;
    color: var(--white);
    background-color: var(--light-green);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.habilidades{
    list-style: none;
    margin-top: 8px;
    padding: 0;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para el contenido principal */

.contenido{
    grid-area: 'contenido';
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para los sliders */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/