/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/**Variables*/
:root{
    --gray: #C7C7C7;
    --white: #FFFFFF;
    --light-green: #ACD9B2;
    --dark: #232830;
    --light-gray: #F7F7F7;
    --black: #000000;
    --sm: 14px;
    --md: 18px;
    --lg: 21px;
    --xl: 24px;
    --xxxl: 26px;
    --radius: 8px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Fonts */
body{
    font-family: 'Quicksand', sans-serif;
}
*{
    font-size: var(--md);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Distribucion de la pagina */

.main{
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'asideBar   contenido   contenido   contenido'
    'asideBar   contenido   contenido   contenido'
    'asideBar   contenido   contenido   contenido';
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para el asibar */
.asideBar{
    grid-area: 'asideBar';
    width: 300px;
    padding: 12px;
    box-shadow: 3px 3px 6px var(--light-gray);
}
.asideBar__foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.asideBar__fotoContainer{
    width: 250px;
    height: 250px;
}
.asideBar__content{
    padding: 10px;
}

.foto{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.icon{
    height: 34px;
    width: auto;
}
.titulo{
    font-size: var(--md);
    color: var(--light-green);
}
.titulo-centrado{
    text-align: center;
}
.foto__descripcion{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.boton__container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.boton{
    width: 200px;
    height: 52px;
    max-width: auto;
    color: var(--white);
    background-color: var(--light-green);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.habilidades{
    list-style: none;
    margin-top: 8px;
    padding: 0;
    opacity: 1;
    transition: opacity 1s;
}
.habilidades-hidden{
    opacity: 0;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para el contenido principal */

.contenido{
    z-index: 10;
    grid-area: 'contenido';
    width: 900px;
    height: 650px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *Estilos para los sliders */

.slider__container{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.slider__content{
    width: 650px;
    height: 350px;
    border-radius: 14px;
    object-fit: cover;
}
.slider__divFoto{
    width: 650px;
    height: 400px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transition: opacity 1s;
}
.slider__divFoto:target{
    opacity: 1;
}
/* .slider__content-show{
    opacity: 1;
} */
.slider__fotos{
    width: 650px;
    height: 400px
}

.slider__boton{
    background-color: var(--light-green);
    border-radius: 50%;
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.video{
    width: 650px;
    height: 350px;
    border-radius: 14px;
}
.img__small{
    width: 180px;
    height: auto;
}
.slider__imgsCont{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider__content-small{
    width: 230px;
    height: auto;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/